@media only screen 
  	and (max-device-width: 667px) 
  	and (-webkit-min-device-pixel-ratio: 2) {

        /* HEADER */
        /* -------------------- */
        #desk-container {
            display: none;
        }

        #responsive-container {
            display: inline;
            width: 1vw;
            height: 1vh;
            position: relative;
            overflow: hidden;
        }

        .oval {
            height: 1800px;
            width: 2000px;
            border-radius: 50%;
            position: fixed;
            top: 0;
            right: 0;
            z-index: -1;
            -webkit-transition:  1s; /* For Safari 3.1 to 6.0 */
            transition:  1s;
        }

        .expand-oval {
            height: 100%;
            width: 100%;
            border-radius: 0;
            z-index: 1;
        }

        .overpose-logo {
            z-index: 3;
        }

        #home-container {
            width: 100vw;
            height: 100vh;
            position: relative; 
            /* background-color: rgba(240, 248, 255, 0.651);  */
        }

        .bubble {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            line-height: 80px;
        }

        #menu-bubble {
            position: absolute;
            top: 2%;
            left: 75%;
            z-index: 4;
        }

        .drop-bubble {
            height: 78px;
            width: 78px;
            position: absolute;
            top: 2.1%;
            left: 75.5%;
            -webkit-transition:  1s; /* For Safari 3.1 to 6.0 */
            transition:  1s;
            z-index: 3;
        }

        .home-bubble {
            height: 70px;
            width: 70px;
            line-height: 65px;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            left: 65%;
            background-color: #ffffff4d;
        }

        .fotografia-bubble {
            height: 130px;
            width: 130px;
            line-height: 125px;
            border-radius: 50%;
            position: absolute;
            top: 35%;
            left: 10%;
            background-color: #ffffff4d;
        }

        .about-bubble {
            height: 125px;
            width: 125px;
            line-height: 120px;
            border-radius: 50%;
            position: absolute;
            top: 75%;
            left: 60%;
            background-color: #ffffff4d;
        }

        .estrategias-bubble {
            height: 95px;
            width: 95px;
            line-height: 90px;
            border-radius: 50%;
            position: absolute;
            top: 70%;
            left: 5%;
            background-color: #ffffff4d;
        }

        .adn-bubble {
            height: 80px;
            width: 80px;
            line-height: 80px;
            border-radius: 50%;
            position: absolute;
            top: 45%;
            left: 52%;
            background-color: #ffffff4d;
        }

        .investigacion-bubble {
            height: 110px;
            width: 110px;
            line-height: 105px;
            border-radius: 50%;
            position: absolute;
            top: 60%;
            left: 35%;
            background-color: #ffffff4d;
        }

        .campanas-bubble {
            height: 90px;
            width: 90px;
            line-height: 90px;
            border-radius: 50%;
            position: absolute;
            top: 55%;
            left: 70%;
            background-color: #ffffff4d;
        }

        #footer {
            width: 100%;
            padding: 2% 0;
            font-size: 20px;
            position: fixed;
            bottom: 0; 
            left: 0;
            z-index: 1;
        }
        
        #footer a {
            color: #FFFFFF;
        }
        
        #footer a:hover {
            color: #2f3725;
        }


        #project-section-container {
            width: 100%;
            max-height: auto;
            position: relative;
        }

        #project-container {
            width: 80%;
            margin: 20px auto;
            position: relative;
            bottom: 500px;
            background-color: #ffffffda;
        }

        .project-image {
            margin: 5% 10%;
        }

        .project-description {
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            line-height: 40px;
            text-align: center;
        }
        

    }